body {
    background-color: #d5e1ef;
    font-family: manrope;
}

.card {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 350px;
    height: 560px;
    background-color: hsl(0, 0%, 100%); 
    border-radius: 25px;
}

.card-image {
    width: 90%;
    height: 60%;
    padding-top: 15px;
    margin: auto;
}

.card-image img {
    width: 100%;
    border-radius: 25px;
}

.card-content {
    width: 80%;
    margin: auto;
}

.card-title {
    margin-top: 0px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.card-description {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: hsl(220, 15%, 55%);
}

footer {
    position:absolute;
    bottom:0px;
}

